{
    local_certs
}

https://auth.127-0-0-1.nip.io {
    reverse_proxy keycloak:8080
}

https://app.127-0-0-1.nip.io {
    reverse_proxy quarkus-app:8080
}

https://spa.127-0-0-1.nip.io {
    reverse_proxy spa:8080
}

https://tracing.127-0-0-1.nip.io {
    reverse_proxy jaeger:16686
}
